<!DOCTYPE html>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                    <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question</p>                    
                </section>
            </article>
            <!-- Comments section-->
            <div class="card-footer border-top-0 bg-transparent">
                <a class="btn btn-outline-dark mt-auto" routerLink="">Portion Frite</a>
                <a class="btn btn-outline-dark mt-auto" href="#">Boisson</a>
            </div>
            
        </div>
        <div class="col-lg-8">
            <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>

        </div>
        <!-- Side widgets-->
        <!-- <div class="col-lg-4">
            <blog-aside></blog-aside>
        </div> -->  
        
    </div>
</div>
