<!DOCTYPE html>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h2 class="fw-bolder mb-1">{{ prod.nom }}</h2>
                    <h2 class="fw-bolder mb-1 text-muted fst-italic mb-2">{{ prod.prix }} Frs</h2>

                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                        <div class="" *ngIf="detail?.menu">
                            <h3>Composition du Menu</h3>
                            <div class="" *ngFor="">

                            </div>
                            <p></p>
                            <p></p>


                        </div>
                    </div>
                    <!-- Post categories-->

                </header>
                <!-- Preview image figure-->
                <!-- Post content-->
                
            </article>
            <!-- Comments section-->
        
        </div>
        <div class="col-lg-8">
            <figure class="mb-4"><img class="img-fluid rounded w-50" src="data:image/png;base64,{{ prod.image }}" alt="bonjour" /></figure>
        </div>
        <div class="card-footer border-top-0 bg-transparent">
            <a class="btn btn-outline-dark mt-auto" href="#">Boisson</a>
            <a class="btn btn-outline-dark mt-auto" href="#">Portion Frite</a>
        </div>
        <!--<blog-catalogue></blog-catalogue>-->
        <!-- Side widgets-->
        
    </div>
    <div class="row d-flex flex_wrap" *ngFor="let prod of detail?.frites">
            <img src="data:image/png;base64,{{ prod.image}}" alt="bbd" srcset="">
        <!-- <blog-complement></blog-complement>-->
    </div> 
</div>
