<blog-header></blog-header>
<header class="masthead"></header>
<!-- Main Content-->
<div class="container">
    <div class="d-flex row">
        <div class="col-lg-6">
        <!-- Post preview-->
        <div class="post-preview">
            <p class="post-meta">
            Posted by
            <a href="#!">Start Bootstrap</a>
            on September 24, 2022
            </p>
            <p class="post-meta">
            <span>
                <span>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Praesentium, pariatur! Reprehenderit laudantium ipsum consequatur
                dolore eos quaerat adipisci, ut atque repudiandae quo, nam, facere
                omnis tempore nostrum ab et. Reprehenderit.
                </span>
                <span>
                Praesentium harum, aspernatur maiores voluptate, eius inventore
                repellat rem totam sequi porro at quos facere quis fugit
                exercitationem ab vel voluptas doloribus laborum, ea odit pariatur
                incidunt numquam! Aliquid, animi.
                </span>
                <span>
                Exercitationem velit quasi nam in similique laborum ullam
                blanditiis et optio voluptates dicta deleniti reiciendis magnam
                veritatis expedita recusandae natus illo provident incidunt, illum
                labore porro adipisci voluptate impedit. Minima.
                </span>
                <span>
                Quaerat consectetur sunt animi officiis cumque culpa adipisci
                fugiat ut nesciunt soluta, itaque minima accusamus nulla molestiae
                vero, alias doloribus aliquam reiciendis, enim dignissimos autem
                cum in tempore eius! Eaque.
                </span>
                <span>
                Cupiditate nihil sed, esse laudantium magni similique minima,
                accusantium exercitationem dolor, aliquid nam quidem quam nobis ex
                provident. Ullam esse odio libero dolor mollitia fugiat est magni
                qui a dignissimos.
                </span>
                <span>
                Atque aliquam vel quasi excepturi enim rem facere pariatur ea
                alias. Dignissimos nisi necessitatibus hic architecto, veritatis
                reiciendis tempore rem tenetur dolorem eaque eos aut sed
                distinctio eius unde. Dolorum?
                </span>
                <span>
                Consequatur reprehenderit minus, sunt accusamus rem quia
                repellendus distinctio quis ad consequuntur totam voluptatum. Vero
                enim corrupti amet, sapiente beatae molestiae, aspernatur pariatur
                corporis quaerat esse sint ea recusandae! Qui.
                </span>
                <span>
                Similique iusto quidem quod modi necessitatibus recusandae aliquid
                amet ullam eum facere quisquam cum eligendi provident,
                reprehenderit id facilis voluptatibus saepe hic neque magnam!
                Omnis eos eaque maxime quis at!
                </span>
                <span>
                Ex ratione consequatur ipsa veritatis obcaecati quaerat
                perspiciatis inventore iusto accusamus quisquam dolorum
                repellendus animi adipisci dolorem fugit molestiae esse est earum
                accusantium qui alias voluptatibus autem, exercitationem
                voluptatum. Distinctio.
                </span>
                <span>
                Quam vero consectetur minima praesentium modi nam veniam
                laudantium quis perferendis suscipit, accusamus repellendus at
                reprehenderit dolore inventore unde possimus. Voluptatibus hic
                quisquam, ut iure dignissimos harum at architecto officiis!
                </span>
            </span>
            </p>
        </div>
        </div>
        <div class="col-lg-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3859.264789330139!2d-17.458715200000004!3d14.6976123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2ssn!4v1660574258236!5m2!1sfr!2ssn"
            width="600"
            height="450"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </div>
    </div>
</div>
<!-- Footer-->
<blog-footer></blog-footer>
