<!DOCTYPE html>

<section class="py-5">
    <div class="mb-3 col-2 d-flex justify-content-end">
        <select class="form-control"  name="choix"  id="choix" #option (change)="showProduits(option.value)">
            <option value="burgers">Burger</option>
            <option  value="menus">Menu</option>
        </select>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let prod of produit">
                <blog-card [produits]="prod"></blog-card>
            </div>
        </div>
    </div>
</section>
