<!DOCTYPE html>
<div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="data:image/png;base64,{{prod.image}}" alt="..." />
    <!-- Product details-->
    <div class="small text-muted" >{{prod.nom}}</div>
    <h2 class="card-title h4">{{prod.prix}}</h2>
    <!-- Product actions-->
    <div class="d-flex card-footer justify-content-evenly w-100 border-top-0 bg-transparent">
        <div class="col-lg-4 text-center"><a class="btn btn-outline-dark mt-auto" (click)="RecupObject()">Detail</a></div>
        <div class="col-lg-8 text-center"><a class="btn btn-outline-dark mt-auto text-nowrap" href="#">Ajouter au Panier</a></div>
    </div>
</div>
