<!DOCTYPE html>
<div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="{{post?.image}}" alt="..." />
    <!-- Product details-->
    <div class="small text-muted" >{{post?.date}}</div>
    <h2 class="card-title h4">{{post?.titre}}</h2>
    <p class="card-text">{{post?.description|slice:0:50}}</p>
    <!-- Product actions-->
    <div class="row d-flex card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="col-lg-4 text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/produit/detail/{{post?.id}}">Detail</a></div>
        <div class="col-lg-8 text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ajouter au Panier</a></div>
    </div>
</div>
