<!DOCTYPE html>

<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
    <button
        class="btn btn-link px-2"
        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
    >
        <i class="fas fa-minus"></i>
    </button>
    <input
        id="checkedQuantity"
        min="1"
        name="quantity"
        value="1"
        max=""
        type="number"
        class="form-control form-control-sm w-auto"
    />
    <button
        class="btn btn-link px-2"
        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"        
    >
        <i class="fas fa-plus"></i>
    </button>
</div>   
<div class="content-section mt-4" *ngFor="let b of detail let index = index">
    <div class="taille-quantite">
        <p>Taille:{{ b.taille.libelle }}</p>
        <p>Quantite:{{ b.quantite }}</p>
        <p>Prix:{{ b.taille.prix }}</p>
    </div>
    <div class="content-img form-check d-flex">        
        <div class="m-4" *ngFor="let img of b.taille.boissonTailles">
            
            <label class="form-check-label m-4" for="flexCheckDefault">
            <img
                class="img-fluid img-boisson"
                src="data:image/png;base64,{{ img.boisson.image }}"
                alt=""
                srcset=""
            />
            </label>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    >
                        <i class="fas fa-minus"></i>
                    </button>    
                    <input
                        id="checkedQuantity"
                        min="0"
                        name="quantity"
                        value="0"
                        max=""
                        type="number"
                        class="form-control form-control-sm w-auto"
                    />            
                    <button
                        class="btn btn-link px-2"
                        (click)="plus(index)"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"                        
                    >
                        <i class="fas fa-plus"></i>
                    </button>
                    <input
            class="form-check-input"
            type="checkbox"
            [value]="false"
            id="flexCheckDefault"
            (change)="inputValue(img)"
            />
                </div>   
        </div>
    </div>
</div>